<h1>Listagem das contas <button class="novo" (click)="navegarParaFormulario()" >Novo</button> </h1>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>NumeroConta</th>
            <th>Saldo</th>
            <th>Cliente</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let conta of contas">
            <td>{{conta.id}}</td>
            <td>{{conta.numeroConta}}</td>
            <td>{{conta.saldo}}</td>
            <td>{{conta.cliente.nome}} - {{conta.cliente.id}} </td>
            <td>
                <button class="editar" (click)="navegarParaFormulario(conta)">Editar</button>
                <button class="deletar" (click)="confirmarDelecao(conta)">Deletar</button>
            </td>
        </tr>
    </tbody>
</table>
