<h1>Formulário Conta</h1>
<hr>
<form [formGroup]="formulario">
    <div>
        <label for="numeroConta">NumeroConta</label>
        <input type="text" id="numeroConta" formControlName="numeroConta">
    </div>
    <div>
        <label for="saldo">Saldo</label>
        <input type="text" id="saldo" formControlName="saldo">
    </div>
    <div>
        <label for="cliente">Cliente</label>
        <select id="cliente" formControlName="cliente">
            <option *ngFor="let cliente of clientesDropdown" [ngValue]="cliente">{{ cliente.id}} - {{cliente.nome}}
            </option>
        </select>
    </div>
    <div>
        <button type="button" class="cancelar" (click)="cancelar()">Cancelar</button>
        <button type="button" class="limpar" (click)="limpar()">Limpar</button>
        <button type="button" class="salvar" (click)="salvar()">Salvar</button>
    </div>
</form>